# latex files
paper/*.aux
paper/*.log
paper/*.out
paper/*.fdb_latexmk
paper/*.fls
paper/*.synctex.gz
paper/*.blg
paper/*.bcf
paper/*.bbl
paper/*.run.xml
paper/*.xdv

# python files
src/*.pyc
src/__pycache__/

# poetry files
.venv 

# data files
*.zip
data/*.zip
data/*
data/*.csv